/*----------------------------------------------------------
                CHARGEMENT DES TYPOS
----------------------------------------------------------*/

/*Typo nav*/
/*
@font-face {
  font-family: 'walkway_blackregular';
  font-style: normal;
  font-weight: normal;
  src: url('/webFonts/Walkway_Black.eot');
  src: local('walkway_blackregular'), local('walkway_blackregular'),
  url('/webFonts/Walkway_Black.eot?#iefix') format('embedded-opentype'),
  url('/webFonts/Walkway_Black.woff2') format('woff2'),
  url('/webFonts/Walkway_Black.woff') format('woff'),
  url('/webFonts/Walkway_Black.ttf') format('truetype'),
  url('/webFonts/Walkway_Black.svg#walkway_blackregular') format('svg');
}
*/

/*Typo titres*/
/*
@font-face {
  font-family: 'walkway_oblique_ultrabold';
  src: url('/webFonts/Walkway_Oblique_UltraBold.eot');
  src: url('/webFonts/Walkway_Oblique_UltraBold.eot?#iefix') format('embedded-opentype'),
       url('/webFonts/Walkway_Oblique_UltraBold.woff2') format('woff2'),
       url('/webFonts/Walkway_Oblique_UltraBold.woff') format('woff'),
       url('/webFonts/Walkway_Oblique_UltraBold.ttf') format('truetype'),
       url('/webFonts/Walkway_Oblique_UltraBold.svg#walkway_blackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

/*Typo générale*/
/*
@font-face {
  font-family: 'walkway_semibold';
  src: url('/webFonts/Walkway_SemiBold.eot');
  src: url('/webFonts/Walkway_SemiBold.eot?#iefix') format('embedded-opentype'),
       url('/webFonts/Walkway_SemiBold.woff2') format('woff2'),
       url('/webFonts/Walkway_SemiBold.woff') format('woff'),
       url('/webFonts/Walkway_SemiBold.ttf') format('truetype'),
       url('/webFonts/Walkway_SemiBold.svg#walkway_blackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

/*----------------------------------------------------------
                          MENU
----------------------------------------------------------*/
.nav{
  font-family: 'Work Sans', regular;
  font-size: 20px;
  background-color: #261f28;
  width: 100%;
}

.nav-links{
  margin-left: 5em;
  margin-top: -2em;
  padding-bottom: 1em;
  list-style-type: none;
  display: flex;
}

.nav-links > li {
  position: relative;
}

.nav-links > li > a{
  transition: 200ms;
  text-decoration: none;
  color: grey;
  margin: auto 3em;
}

.nav-links > li > a:hover{
  transition: 200ms;
  color: white;
}

.logo > img{
  width: 5.5em;
  height: 5em;
  padding-top: 1em;
}

.logo{
 padding-bottom: -1em; 
}


/*----------------------------------------------------------
                      MENU DEROULANT
----------------------------------------------------------*/

.sous-menu{
  font-family: 'Work Sans', semibold;
  transition: 200ms;
  position: absolute;
  width: 100%;
  z-index: 1000;
  list-style-type: none;
  padding-top: 1em;
  padding-left: 0em;
  display: none;
  background-color: #261f28;
  border-left: 1px solid #261f28;
  border-top: none;
}

.sous-menu:hover{
  cursor: pointer;
  transition: 200ms;
  background-color: #261f28;
}

.sous-menu >  a{
  border-right: 1px solid #261f28;
  float: left;
  width: 100%;
  text-align: left;
  position: relative;
  padding: 0.8em 0em 0.8em 0.4em;
  transition: 200ms;
  background-color: white;
  color: #261f28;
  text-decoration: none;
}

.sous-menu >  a:last-of-type{
  border-bottom: 1px solid #261f28;
}

.sous-menu >  a:hover{
  transition: 200ms;
  color: white;
  background-color: #261f28;
}


.nav-menu:hover > .sous-menu{
  transition: 200ms;
  display: block;
}



/*----------------------------------------------------------
                          CONTENU
----------------------------------------------------------*/

.container, .pictures{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em;
}

.pictures{
  width: 60em;
}

.pictures > img{
  border: 2px solid grey ;
  box-shadow: 0.5em 0.5em 5px grey;
  margin: 0.8em 0.8em;
  width: 28em;
  height: 20em;
  transition: 200ms;
  transform: scale(1);
}

.pictures > img:hover{
  transition: 200ms;
  transform: scale(1.1);
}

.text{
  text-align: justify;
  padding: 1em;
  border : 5px double grey;
  font-family: 'Work Sans', semibold;
  font-size: 20px;
  width:20em;
}

.text > p:first-child{
  font-family: 'Work Sans', semibold;
  font-style: italic;
  font-weight: bold;
}