@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600&display=swap');

.legal{
    font-family: 'Work Sans';
    font-weight: 300;
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin: 10px auto;
}