.container2{
    margin-top: 20px;
    margin-bottom: -20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
  
.text2{
    text-align: left;
    padding: 1em;
    border : 5px double grey;
    font-family: 'Work Sans', semibold;
    font-size: 20px;
    width: 66%;
    min-width: 300px;
}

.picture2{
    text-align: center;
    max-width: 68.5%;
}

.picture2>img {
    overflow: hidden;
    border-top: 0.25px solid rgb(219, 216, 216) ;
    border-left: 0.25px solid rgb(219, 216, 216) ;
    box-shadow: 0.5em 0.5em 8px rgb(172, 170, 173);
    margin-top: 2em;   
    width: 100%;
}

@media (max-width: 824px){
    .picture2>img{
        display: none ;
    }
}
