@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

/*----------------------------------------------------------
                          MENU
----------------------------------------------------------*/
.footer{
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 18px;
  background-color: #261f28;
  width: 98.7vw;
  display: flex;
  flex-flow: row wrap;
  color: grey;
  padding-left: 25px;
  position: absolute;
  bottom: 0;
  height: 3.5rem;
}

.footer>p{
  margin: auto 15px
}

.footer>a{
  margin: auto 0px;
  transition: 200ms;
  color: grey;
}

.footer>a:hover{
  transition: 200ms;
  color: white;
}

@media (max-width: 530px){
  .footer{
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  .footer>a{
    margin: auto 15px;
  }
}
