@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Work+Sans:300,400,500,600&display=swap');

/*Global*/
.container1{
  transition: 200ms;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

/*Titre*/
.title1{
  margin-left: 18%;
  margin-bottom: -10px;
}

@media (max-width : 1098px){
  .title1{
    display: none;
  }
}
  
/*Container images*/
.picture-container1, .pictures1{
  transition: 200ms;
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.picture-container1 {
  width: 28em;
  margin-right: 5px;
}

h2{
  font-family: 'Archivo Narrow';
  font-weight: 500;
}

.pictures1{
  padding: 0px;
}

.pictures1>li, .vertical1{
  overflow: hidden;
  border-top: 0.25px solid rgb(219, 216, 216) ;
  border-left: 0.25px solid rgb(219, 216, 216) ;
  box-shadow: 0.5em 0.5em 8px rgb(172, 170, 173);
}

.pictures1 > li{
  list-style: none;
  margin: 0.8em 0.8em;
  width: 28em;
  height: 19em;
}
  
.pictures1>li>img{
  width: inherit;
}
  
.pictures1 > li > img:hover, .vertical1>img:hover{
  overflow: hidden;
  transition: 200ms;
  transform: scale(1.1);
}

/*Masquage de la dernière image s'il y en a trop*/
.pictures1> li:nth-child(3){
  display: none;
}

.vertical1>img, .pictures1>li>img {
  transition: 200ms;
  transform: scale(1);
}

.vertical1{
  min-width: 20em;
  max-width: 22em;
  overflow: hidden;
  margin : 0px 0px 4px 20px;
}

.vertical1>img{
  width: inherit;
  height: 39.5em;
  margin-bottom: -4px;
}

.text1{
  transition: 200ms;
  text-align: left;
  padding: 1em;
  border : 5px double grey;
  font-family: 'Work Sans';
  font-weight: 300;
  font-size: 20px;
  width: 20%;
  min-width: 300px;
  margin-left: 45px;
  max-height: 24em;
  overflow-y: auto;
}
à
  
.text1 > p:first-child, .picture-container1 > h2{
  font-family: 'Work Sans', semibold;
  font-style: italic;
  font-weight: bold;
}


@media (max-width: 1008px){
  .container1{
    transition: 200ms;
    text-align: center;
    align-self: center;
  }
}

@media (max-width: 815px) { 
  .vertical1, .text1{
    transition: 200ms;
    margin: 5px 5px;
  }
}




