@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

/*Barres du menu hamburger*/
.burger-bar{
    color: white;
    width: 135px;
    height: 50px;
    margin-top: -50px;
}

.burger-bar:hover {
    cursor: pointer;
}

.burger-bar>p{
    background-color: white;
    height: 6px;
    width: 55px;
    margin: 5px auto;
    border-radius: 2px;
}


/*Général*/
.burger-nav{
    display: none;
    text-align: right;
    width: 100%;
}

.burger-nav-links{
    position: absolute;
    right: 0;
    z-index: 1000;
    list-style-type: none;
    background-color: #261f28;
    padding: 20px 30px 10px 0px;
    max-height: 0em;
    opacity: 0;
    transition: all 0.5s  0.5s;
    transition-property: max-height opacity;
    overflow: hidden;
    text-align: right;
    margin-top: 12px;
    padding-right: 10px;
    padding-left: 5px;
}

a{
    text-decoration: none;
    color: white;
}


.burger-nav-links >li>a:hover, .burger-nav-links >li:hover{
    transition: 200ms;
    background-color:white;
    color: #261f28;
}

.burger-bar:hover .burger-nav-links{
    opacity: 1;
    max-height: 3000em;
}


/*--------------------------------------------
                    RESPONSIVE
---------------------------------------------*/
@media (max-width: 1038px){
    .burger-nav{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
    }
}