@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Work+Sans:300,400,500,600&display=swap');

.containerAbout{
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.aboutImg {
    width: 20%;
    height: 30%;
    margin: 10px;
    
}

.aboutText{
    text-align: left;
    padding: 1em;
    border : 5px double grey;
    font-family: 'Work Sans';
    font-weight: 300;
    font-size: 18px;
    min-width: 300px;
    margin-left: 45px;
    width: 20%;
    text-align: left;
}

.aboutText > p{
margin: 5px;
}

/*Masquage de la photo sur petits écrans*/
@media screen and ( max-width : 800px) {
    .aboutImg{
        display: none;
    }
    .containerAbout{
        justify-content: center;
    }
    .aboutText{
        margin-left: 0px;
    }
}