@import '../Variables/Variables.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600&display=swap');

.container{
    @include container-align;
    padding-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1742px){
    .container{
        flex-flow: column wrap;
    }
    .containerImgList{
        min-width: 80%;
    }
}

.containerImgList, .home{
    display: flex;
    list-style: none;
    margin-top: -15px;
    padding-left: 0px;
    justify-content: center;
}

.containerImgList {
    flex-flow: row wrap;
    width: 55%;
}

.home{
    flex-flow: row wrap;
    width: 91.5%;
    > li{
        min-height: 440px;
    }
} 

.containerImgList > li, .home > li {
    @include card-picture;
    margin: 15px 15px;
    width: 28em;
    min-width: 25em;
    height: 21em;
}

.containerImgList > li:hover .containerHomeImg, .home>li:hover .containerHomeImg{
    transition: 100ms;
    opacity: 0.48;
}
.containerImgList > li:hover .name, .home > li:hover .name{
    transition: 200ms;
    opacity: 1;
    display: block;
    z-index: 999;
}

.containerHomeImg{
    width: 28em;
    min-height: 19em;
}

.name{
    opacity: 0;
    color: black;
    font-weight: 600;
    position: absolute;
    padding-left: 25px;
    text-transform: uppercase; 
}

.containerHomeText{
    @include text;
    font-size: 18px;
    width: 20%;
    min-width: 19em;
}

